* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*background-color: rgb(60, 60, 60);*/
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Hide scrollbars */
    background-color: black;
}

canvas {
    background-color: black;
	height: 100%;
	width: 100%;
}